---
layout: page
title: Projects
---
<h1 class="title" style="font-size: 40px">PROJECTS</h1>
{% assign project_order = site.projects | sort: "weight" | reverse %}
  {% for project in project_order %}
    <a href="{{ project.link }}" target="_blank">
      <h4>{{ project.title }}</h4>
    </a>
    <div id="block"></div>
    <nav class="dev-icons">
        <ul>
          {% for icon in project.icons %}
            <li class="dev-icons">
              {% if icon.image_path %}
                <img class="dev-icon" src="{{ icon.image_path }}"/>
              {% else %}
                <i id="dev-icon" class="{{ icon.icon_name }}"></i>
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      </nav>
      <h3 style="font-family: 'Montserrat'; font-weight: 100; font-variant: small-caps; font-size: 22px;
      text-align: center;">
        {{ project.made }}
      </h3>
    <h5>
      {{ project.content | remove: '<p>' | remove: '</p>'}}
    </h5>
  {% endfor %}
