body {
  background-color: white;
  margin: auto;
}

ul {
  list-style-type: none;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;
}

li {
  display: inline;
  padding-right: 25px;
  padding-left: 25px;
}

li.dev-icons {
  display: inline;
  color: black;
  padding-right: 10px;
  padding-left: 10px;
}

.social-icons .dev-icons {
	 padding: 7px 7px 0px 7px;
}

i:hover {
  color: #e8dacb;
}

/* Home Page Header */
h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 50px;
  font-weight: bolder;
  padding-bottom: 0px;
  margin-bottom: 0px;
  text-align: center;
  text-transform: uppercase;
  transition-duration: 1s;
  -webkit-transition-duration: 1s;
}

h1:hover {
  color: #e8dacb;
  transition-duration: 1s;
  -webkit-transition-duration: 1s;
}

h2 {
  font-family: 'Cardo', sans-serif;
  font-size: 20px;
  margin-bottom: 0;
  padding-bottom: 0;
  letter-spacing: 5px;
  font-weight: lighter;
}

h3 {
  font-family: 'Cardo', sans-serif;
  padding-top: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
  text-transform: lowercase;
}

h3.footer {
  color: white;
  /*text-align: right;
  padding-right: 1%; */
  font-size: 13px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}

/* Bold Headings with Links */
h4 {
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1.33px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

h4:hover{
  color: #e8dacb;
  cursor: pointer;
}

/* Bold Headers w/o Links */
h6 {
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1.33px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

/* Written Paragraphs */
h5 {
  font-size: 15px;
  font-weight: 100;
  text-align: center;
  margin: auto;
  width: 33%;
  letter-spacing: 1.33px;
  font-family: 'Cardo', sans-serif;
}

h5.pagination:hover {
  color: lightgray;
  cursor: pointer;
  transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
}

p {
  font-size: 20px;
  font-weight: 100;
  color: black;
  line-height: 85%;
  letter-spacing: 1.33px;
  text-align: center;
  font-family: 'Cardo', sans-serif;
  text-transform: lowercase;
  text-decoration: none;
  transition-duration: 1.3s;
  -webkit-transition-duration: 1.3s;
}

p.nav {
  font-size: 20px;
  font-weight: 100;
  color: #323232;
  line-height: 85%;
  letter-spacing: 1.33px;
  text-align: center;
  font-family: 'Cardo', sans-serif;
  text-transform: lowercase;
  text-decoration: none;
  transition-duration: 1.3s;
  -webkit-transition-duration: 1.3s;
}

p.nav:hover {
  color: #e8dacb;
  cursor: pointer;
}

a {
  font-family: 'Cardo', sans-serif;
  font-size: 20px;
  text-decoration: none;
  color: inherit;
  transition-duration: 0s;
  -webkit-transition-duration: 0s;
}

a:hover {
  color: black;
}

img.photo-desc {
  width: 33%;
  margin: auto;
}

img.photo {
  display: block; /*inline;*/
  width: 50%;
  /*transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;*/
}

img.photo:hover {
  opacity: 0.85;
  webkit-filter: blur(1px); /* Chrome, Safari, Opera */
  filter: blur(1px);
  /*transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;*/
}

img.dev-icon {
  width: 2.7%;
  padding-bottom: 0;
  margin: 0;
}

#dev-icon {
  font-size: 40px;
  color: black;
}

#gallery-space {
  display: block;
  height: 50px;
}

#meimg {
  display: block;
  max-width: 550px;
  margin: auto;
}

#block {
  height: 7px;
}

#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 20px;
  background: black;
}

#footer-block {
  display: block;
  height: 80px;
  color: white;
  padding-bottom: 50px;
  margin-bottom: 50px;
}
