<!DOCTYPE HTML>
<html>
<head>
  <meta charset="UTF-8">
  <title>Maggie Luo</title>
  <link rel="icon" href="/images/ml-logo.png">
  <link type="text/css" rel="stylesheet" href="/../css/main.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat|Work+Sans|Cardo" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>
<body>
  <div id="topspace"></div>
  <div id="banner">
    <a class="banner" href="/../index.html"><h1>Maggie Luo</h1></a>
    <h3>Software + Design</h3>
    <nav class="social-icons">
		    <ul>
          <li>
						<a href="https://twitter.com/smile4maggie" target="_blank">
							<i class="fa fa-twitter"></i>
						</a>
					</li>
					<li>
						<a href="https://www.linkedin.com/in/maggiedluo" target="_blank">
							<i class="fa fa-linkedin"></i>
						</a>
					</li>
					<li>
						<a href="https://instagram.com/smile4maggie/" target="_blank">
							<i class="fa fa-instagram"></i>
						</a>
					</li>
					<li>
						<a href="https://github.com/smile4maggie" target="_blank">
							<i class="fa fa-github"></i>
						</a>
					</li>
        </ul>
      </nav>
  </div>
  <div id="block"></div>
  <img id="meimg" class="meimg" src="/../images/maggie.png">
  <div style="position: absolute; left: 50%;">
    <div style="position: relative; left: -50%;">
    <p class="nav">
        <a href="/../about"> about </a>
        <br>
        <a href="/../projects"> projects </a>
        <br>
        <a href="/../visual"> visual </a>
        <br>
        <a href="/../blog"> thoughts </a>
        <br>
        <a href="/../contact"> contact </a>
    </p>
    </div>
  </div>
  {{ content }}
  <div id="footer-block"></div>
  <div id="footer"></div>
</body>
</html>
