---
layout: page
---
<h6>{{ page.title }}</h6>
<br>
<h5>{{ page.caption }}</h5>
<div id="gallery-space"></div>
{% for gallery in site.data.galleries %}
  {% if gallery.id == page.galleryid %}
    {% for image in gallery.images %}
      <img class="photo-collection" src="{{ gallery.imagefolder}}/{{ image.name }}">
    {% endfor %}
  {% endif %}
{% endfor %}
<h5>{{ content | remove: '<p>' | remove: '</p>' }}</h5>
<div id="gallery-space"></div>
<div id="gallery-space"></div>


<!--- For single image associated with the photo
<img class="photo-desc" src="{{ page.image_path }}" alt="image" />
---->
